@charset "UTF-8";
@import url('font.css');
@import url('default.css');


/*
=====================
1: Base Setting
2: Common Setting
	2-1: Layout
	2-2: Basic
3: Main
4: Contents
5: Mypage
=====================
*/


/* 1: Base Setting
=========================================================================================== */
.hidden {display:none;}
.blind {visibility:hidden;}


.cursor {cursor:pointer;}
.non-cursor {cursor:default;}

.ta-r {text-align:right !important;}
.ta-l {text-align:left !important;}
.ta-c {text-align:center !important;}

.va-t {vertical-align:top !important;}
.va-m {vertical-align:middle !important;}
.va-b {vertical-align:bottom !important;}

.clearfix {}
.clearfix:after {content:""; clear:both; display:block;}
.fl-l {float:left;}
.fl-r {float:right;}


.blind {display:none;}
.clear {clear:both; height:0;}


.c-black {color:#000 !important;}
.c-red {color:#fe0000 !important;}
.c-gray {color:#8f8d8d !important;}
.c-blue {color:#085d9d !important;}

.fz-b1 {font-size: 16px;}

.d-b {display: block;}
.d-ib {display: inline-block;}
.d-flex {display: flex; align-items:center;}
.d-flex.j-b {justify-content: space-between;}


.pa-b1 {padding-bottom:120px;}
.pa-b2 {padding-bottom:100px;}

.ma-b1 {margin-bottom:120px;}
.ma-b2 {margin-bottom:100px;}


.a_link {text-decoration: underline;}


.f-en {font-family: 'Noto Sans KR', 'New Gulim', 'Gulim', Gulim, sans-serif;}


iframe[name='google_conversion_frame'] {border:0; width:0; height:0; padding:0; margin:0; position:absolute; z-index:-1; visibility:hidden;}

.t-dot-solo {overflow:hidden; white-space:nowrap; text-overflow: ellipsis;}


 /* 2: Common Setting
=========================================================================================== */

/* 2-1: Basic
=========================== */
html {width:100%; font-size:62.5%;}
body {width:100%; font-family:'Noto Sans KR', 'New Gulim', 'Gulim', Gulim, sans-serif; color:#5a5a5a; font-weight: normal; font-size:16px; line-height:1.2; -webkit-text-size-adjust: 100%; }
.inr-c {width:1537px; margin:0 auto;}


/*간격*/
.pr-mb1 {margin-bottom: 40px !important;}

.pr-pb1 {padding-bottom: 40px !important;}



/*버튼*/
.btn-bot {margin-top:40px; text-align: center;}
.btn-bot:after {content:""; clear: both; display: block;}
.btn-bot .btn-pk {min-width:110px !important;}
.clb {clear: both; text-align: right; padding-top: 20px; border-top: 1px solid #eee;}
.btn-bot .lft {float: left;}
.btn-bot .rgh {float: right;}



.btn-line {padding-top: 50px; border-top: 1px solid #ddd; text-align: center; font-size: 0;}
.mbtn_n2 .btn-pk {width: 200px; margin-left: 20px;}
.mbtn_n2 .btn-pk:first-child {margin-left: 0;}

.btn-pk {
	display:inline-block; *display:inline-block; *zoom:1; padding:8px 10px; 
	color:#fff; font-size:14px; text-align: center;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
	border: 1px solid #cdcdcd;
	border-radius: 5px;
	transition:all .3s ease; -webkit-transition:all .3s ease; -moz-transition:all .3s ease; -o-transition:all .3s ease;
}
.btn-pk.bdrs {-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}

.btn-pk.b {min-width:120px; padding:10px 10px; font-size:17px; border-width: 2px; font-weight: 700;}
.btn-pk.n {min-width:50px; padding:10px 10px; font-size:14px; line-height: 1.25;}
.btn-pk.s {min-width:40px; padding:5px 10px; font-size:14px; line-height: 1.2; }
.btn-pk.ss {min-width:40px; padding:4px 10px; font-size:13px; line-height: 1.2; }

.btn-pk.white {border-color: #e6e5e4; color: #085d9d; background-color: #fff;}
.btn-pk.white:hover {background-color: #e6e5e4;}
.btn-pk.blue {border-color: #085d9d; color: #fff; background-color: #085d9d;}
.btn-pk.blue:hover {background-color: #085d9d;}
.btn-pk.blue2 {border-color: #085d9d; color: #085d9d; background-color: #fff;}
.btn-pk.blue2:hover {background-color: #085d9d; color: #fff;}
.btn-pk.blue3 {border-color: #e6e5e4; color: #085d9d; background-color: #fff;}
.btn-pk.gray {border-color: #efefef; color: #c9c8c6; background-color: #efefef;}
.btn-pk.gray:hover {background-color: #efefef;}
.btn-pk.gray2 {border-color: #ddd; color: #222; background-color: #ddd;}
.btn-pk.gray2:hover {background-color: #ddd;}
.btn-pk.red {border-color: #fe0000; color: #fe0000; background-color: #fff;}
.btn-pk.red:hover {background-color: #fe0000; color: #fff;}
.btn-pk.red2 {border-color: #fe0000; color: #fff; background-color: #fe0000;}
.btn-pk.red2:hover {background-color: #fe0000; color: #fff;}

.btn-pk.wid1 {width: 120px;}


input.btn-pk {color: #fff; border: 0; height: auto; min-width:200px; font-size: 21px; padding: 15px 30px; cursor:pointer;}

.mw100p {width: 100%;}


.mbtn_ty1 {display: flex; margin-top: 10px;}
.mbtn_ty1 .btn-pk {flex:1; margin-left: 10px;}
.mbtn_ty1 .btn-pk:first-child {margin-left: 0;}
.mbtn_ty1 .btn-pk.b {padding-top: 12px; padding-bottom: 12px;}


/*탭*/
.tab {}
.tab ul {font-size: 20;}
.tab li {position: relative; display: inline-block; *display: inline; *zoom: 1; vertical-align: top; }
_::-moz-svg-foreign-content, :root .tab li {float: left;}


.tab.ty1 {}
.tab.ty1 ul {border-bottom: 1px solid #e2e2e1; padding-left: 10px; padding-right: 10px;}
.tab.ty1 li {margin: 0 5px;}
.tab.ty1 li p,
.tab.ty1 li a {display: block; padding: 10px; margin-bottom: -1px; text-align: center; font-size: 15px; line-height: 1; color: #c9c8c6; text-align: center; background-color: #efefef; border: 1px solid #efefef; border-radius: 10px 10px 0 0;}
.tab.ty1 li.on {}
.tab.ty1 li.on a {color: #085d9d; font-weight: 700; background-color: #fff; border-bottom-color: #fff;}


.tab.ty1 .n2 li a {width: 150px;} 
.tab.ty1 .n4 li a {width: 100px;} 


.tab.ty1.big {margin-bottom: 30px;}
.tab.ty1.big li p,
.tab.ty1.big li a {padding: 12px 20px; font-size: 18px;}


.tab.ty2 {margin-bottom: 30px;}
.tab.ty2 ul {display: flex; border-top: 1px solid #e6e5e4; border-bottom: 1px solid #e6e5e4;}
.tab.ty2 li {flex:1; border-right: 1px solid #e6e5e4; text-align: center;}
.tab.ty2 li:first-child {border-left: 1px solid #e6e5e4;}
.tab.ty2 li a {display: block; font-size: 17px; padding: 15px 0; transition:all .3s ease; -webkit-transition:all .3s ease; -moz-transition:all .3s ease; -o-transition:all .3s ease;}
.tab.ty2 li.on a,
.tab.ty2 li:hover a {background-color: #fff; background-color: #085d9d; color: #fff;}



.tabcont {padding: 8px; border: 1px solid #e2e2e1; border-top: 0;}
.tabcont iframe {width: 100%; height:420px;}
.tabcont .pagenation {margin-top: 10px;}
.tabcont .tab.ty1 {margin-bottom: 8px;}
.tabcont .tbl_basic th,
.tabcont .tbl_basic td {height: 25px;}



.btn_cir1 {width: 20px; height: 20px; background-color: #ccc; border-radius: 50%; font-size: 12px; color: #fff; text-align: center; line-height: 20px;}
.btn_cir1.ty1 {background-color: #548235;}
.btn_cir1.ty2 {background-color: #ff0000;}
.btn_cir1.ty3 {background-color: #92d050;}




/*
.tab.ty1 {margin-bottom: 45px;}
.tab.ty1 ul {display: flex; width: 100%;}
.tab.ty1 li {flex:1; position: relative; border-left: 1px solid #dadada;}
.tab.ty1 li:first-child {border-left: 0;}
.tab.ty1 li p,
.tab.ty1 li a {display: block; padding: 18px 10px; font-size: 15px; line-height: 1; color: #000; text-align: center; background-color: #f5f5f5;}
.tab.ty1 li.on {}
.tab.ty1 li.on a {color: #52b666; font-weight: 700;}


.tab.ty2 {margin-bottom: 45px;}
.tab.ty2 ul {display: flex; width: 100%;}
.tab.ty2 li {flex:1; position: relative; background-color: #fff; color: #000; font-size: 16px; text-align: center;}
.tab.ty2 li a {display: table; width: 100%; height: 50px;}
.tab.ty2 li a span {display: table-cell; vertical-align: middle;}
.tab.ty2 li.on {background-color: #2259c8; color: #fff;}
*/


/*IR 기법 아이콘 세트*/
.i-aft{position: relative;display: inline-block;vertical-align: middle;*display: inline;*zoom: 1;}
.i-aft:after{content:""; position: absolute; left: 0;top: 50%;display: inline-block;overflow: hidden;width: 0;height: 0;content: '';text-align: left;text-indent: -9999px;background-repeat: no-repeat;*display: inline;*zoom: 1;}
.i-set{display: inline-block;overflow: hidden;text-align: left;vertical-align: middle;text-indent: -9999px;line-height: 0;background-repeat: no-repeat;*display: inline;*zoom: 1;}




/* 2-2: Layout
=========================== */

/*로케이션*/
#spot {margin-bottom: 100px;}
#spot .spot {display: table; width: 100%; height: 325px; text-align: center; color: #fff; background-repeat: no-repeat; background-position: center center; background-size: cover;}
#spot .spot.s1 {background-image: url('/images/spot/spot1.jpg');}
#spot .spot.s2 {background-image: url('/images/spot/spot2.jpg');}
#spot .spot.s3 {background-image: url('/images/spot/spot3.jpg');}
#spot .spot.s4 {background-image: url('/images/spot/spot4.jpg');}
#spot .spot.s5 {background-image: url('/images/spot/spot5.jpg');}

.spot_txt {display: table-cell; vertical-align: middle; font-size: 14px;}
.spot_txt .i_arr1 {margin: 0 10px;}
.spot_txt .tit {margin-top: 30px; font-size: 36px; font-weight: 700;}

.path {z-index: 1; position: relative; max-width:1721px; margin: 0 auto; background-color: #132944;}
.path .inr-c > ul {font-size: 0;}
.path .inr-c > ul > li {position: relative; display: inline-block; *display: inline; *zoom:1; vertical-align: top; margin-left: 10px; line-height: 45px;}
.path .inr-c > ul > li:after {content:">"; position: absolute; left: -10px; top: 0; font-size: 13px; color: #fff; line-height: 45px;}
.path .inr-c > ul > li span {display: inline-block; font-size: 13px; padding: 0 15px;  line-height: 1; vertical-align: middle; color: #fff;}
_::-moz-svg-foreign-content, :root .path li {float: left;}
.path .inr-c > ul > li:first-child {padding-left: 0; margin-left: 0;}
.path .inr-c > ul > li:first-child:after {content:none;}




/*타이틀*/
.hd_tit1 {position: relative; margin-bottom: 30px;}

.h_tit1 {font-size: 28px; font-weight: 700; color: #132944;}
.h_tit2 {position: relative; margin-bottom: 10px; font-weight: 700; font-size: 19px; color: #085d9d;}
.h_tit2:before {content:"◎";}
.h_tit3 {margin-bottom: 10px; font-size: 16px; font-weight: 700;}


.h_stit1 {font-size: 22px; font-weight: 700; color: #132944;}


.top_tit {position: relative;}
.top_tit .rgh {position: absolute; right: 0; bottom: 7px;}
.top_tit .btn-pk.s {min-width:60px;}




/**********서브컨텐츠**********/
.container_y {padding-top: 55px; }
.container_y:after {content:""; clear: both; display: block;}

.container_y .inr-c {background-color: #efefef;}

.sidebar_y {position: relative; float: left; width: 217px; background-color: #efefef;}
.sidebar_y .tit {text-align: center; font-size: 28px; color: #fff; line-height: 82px; background-color: #132944;}
.sidebar_y .menu {}
.sidebar_y .menu > ul > li > a {display: block; padding: 15px 25px; font-weight: 700; font-size: 19px; color: #132944; border-bottom: 1px solid #e3e2e2;}
.sidebar_y .menu > ul > li > a > span {display: block; line-height: 25px; padding-right: 17px; background-image: url(/images/common/ico_menu.png); background-repeat: no-repeat; background-position: right center;}

.sidebar_y .menu .depth2 {display: none; padding: 10px 0; background-color: #e7f5fc;}
.sidebar_y .menu .depth2 li a {display: block; padding: 10px 25px; font-size: 17px; color: #000;}

.sidebar_y .menu .depth2 li.on a {font-weight: 700;}

.sidebar_y .menu > ul > li.on > a {background-color: #085d9d; color: #fff;}
.sidebar_y .menu > ul > li.on > a > span {background-image: url(/images/common/ico_menu_on.png);}
.sidebar_y .menu li.on .depth2 {display: block;}



.contents_y {position: relative; min-height:600px; margin-left: 217px; padding-left: 40px; margin-bottom: 70px; color: #000; line-height: 1.5; background-color: #fff;}
.contents_y:after {content:""; clear: both; display: block;}


.lft_c {float: left; width: 691px;}
.rgh_c {float: right; width: 548px;}

.lft_c.ty2 {width: 548px;}
.rgh_c.ty2 {width: 691px;}

.img_prd {position: relative; width: 500px; height: 500px; border: 1px solid #e6e5e4;}
.img_prd span {display: block; width: 100%; height: 100%; background-position: center center; background-repeat: no-repeat;}
.img_prd img {position: absolute; left: 50%; top: 50%; max-width:100%; max-height:100%; transform:translate(-50%,-50%);}


.botm_c {position: absolute; right: 0; bottom: 0; width: 548px;}




/**/
.bind_ty1 {font-size: 0; margin-bottom: 35px;}
.bind_ty1 > * {display: inline-block; vertical-align: top;}
.bind_ty1 .btn-pk.bb {min-width:auto; padding-left: 0; padding-right: 0;}
.bind_ty1.n3 > * {width: 32%; margin-left: 2%; box-sizing:border-box;}
.bind_ty1.n3 > *:first-child {margin-left: 0;}




/**/
.tbl_sch {display: flex; align-items: center; margin-bottom: 8px;}
.tbl_sch .h {padding-left: 10px; margin-right: 10px; font-weight: 700; font-size: 15px; color: #000; white-space:nowrap;}
.tbl_sch .t {position: relative; width: 100%;}
.tbl_sch .btn {position: absolute; left: 2px; top: 2px; width: 36px; height: 36px; font-size: 0; background: url(/images/common/ico_sch.png) center center no-repeat;}
.tbl_sch .inp_txt {padding-left: 40px;}




/*테이블*/
.tbl_basic {font-size: 15px; color: #000; line-height: 1.2;}
.tbl_basic table {table-layout:fixed; border: 1px solid #e6e5e4;}
.tbl_basic td {padding: 10px; height: 35px; text-align: left; color: #000; border: 1px solid #e6e5e4; word-break: break-all;}
.tbl_basic th {padding: 10px 5px; height: 35px; font-weight: 700; text-align: center; color: #000; background-color: #c9c8c6;}
.tbl_basic thead tr {border-bottom: 1px solid #e6e5e4;}
.tbl_basic tbody tr {border-bottom: 1px solid #e6e5e4;}

.tbl_basic td.pd {padding: 0;}

.tbl_basic col.th1 {width: 90px;}
.tbl_basic col.th2 {width: 110px;}
.tbl_basic col.td1 {width: 120px;}
.tbl_basic col.td2 {width: 190px;}
.tbl_basic col.chk {width: 35px;}
.tbl_basic col.name {width: 90px;}
.tbl_basic col.code {width: 150px;}
.tbl_basic col.day {width: 100px;}
.tbl_basic col.day2 {width: 120px;}
.tbl_basic col.number {width: 140px;}
.tbl_basic col.num {width: 45px;}
.tbl_basic col.img {width: 60px;}
.tbl_basic col.size1 {width: 75px;}
.tbl_basic col.size2 {width: 100px;}
.tbl_basic col.size3 {width: 50px;}
.tbl_basic col.total {width: 120px;}

.tbl_basic .fx {display: flex; align-items:center; white-space: nowrap;}
.tbl_basic .fx .inp_txt {width: 100%; margin-right: 3px;}
.tbl_basic .fx p {width: 100%; margin-right: 3px;}

.tbl_basic table.list {table-layout:fixed; text-align: center !important;}
.tbl_basic table.list th { padding: 5px; border: 1px solid #e6e5e4; text-align: center !important;}
.tbl_basic table.list td {position: relative; text-align: center; padding: 5px; }
.tbl_basic table.list td.subject {text-align: left; font-weight: 500; color: #000; overflow:hidden; white-space:nowrap; text-overflow: ellipsis;} 
.tbl_basic table.list td.subject a {overflow:hidden; display: block; max-width:100%; color: #000; overflow:hidden; white-space:nowrap; text-overflow: ellipsis; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
.tbl_basic table.list td.subject a:hover {text-decoration: underline;}
.tbl_basic table.list tfoot tr.bg {background-color: #f9f9f9; font-weight: 700;}
.tbl_basic table.list tfoot td.bg {background-color: #e7f5fc;}
.tbl_basic table.list .select1 {text-align: center;}

.tbl_basic table.list.cur tr:hover {background-color: #e7f5fc; cursor:pointer;}


.tbl_basic table.list.small {font-size: 14px;}
.tbl_basic table.list.small .inp_txt {height: 25px; line-height: 23px;}
.tbl_basic table.list.small .select1 {height: 25px; line-height: 23px; font-size: 13px; padding-left: 5px;}
.tbl_basic table.list.small th {height: 25px;}
.tbl_basic table.list.small td {height: 25px;}

.tbl_basic table.list.default td,
.tbl_basic table.list.default th {height: 40px;}
.tbl_basic table.list.default td.subject {padding-left: 15px;}




.tbl_basic table.view th {text-align: center; border: 1px solid #e6e5e4;}
.tbl_basic table.view td {text-align: left;}
.tbl_basic table.view td p {padding-left: 10px;}
.tbl_basic table.view.ty2 td {background-color: #efefef;}
.tbl_basic table.view.ty2 .inp_txt {border: 0;}
.tbl_basic table.view.ty2 .textarea {border: 0; height: 170px;}

.tbl_basic table.view table {border: 0; height: 100%;}
.tbl_basic table.view table td {text-align: center;}


.tbl_basic table.view.small {}
.tbl_basic table.view.small td {padding: 5px 10px;}
.tbl_basic table.view.small th {padding: 5px;}


.box_td {position: relative; margin-top: 5px;}
.box_td p {position: absolute; left: 0; bottom: 5px; width: 100%;}



.tbl_basic table.write {}
.tbl_basic table.write th {padding-left: 20px; text-align: left;}
.tbl_basic table.write td {}
.tbl_basic table.write .textarea1 {height: 260px;}
.tbl_basic table.write .em {margin-left: 10px;}


.tbl_basic table.write table.list {}
.tbl_basic table.write table.list th {padding-left: 5px;}


.tbl_basic td .notx {padding-top: 100px; padding-bottom: 100px;}


.tbl_basic tbody tr.none {opacity:.8; position: relative; background-color: #f9f9f9;}
.tbl_basic tbody tr.none button {}


.tbl_botm {margin-top: 10px;}
.tbl_botm .btn-pk {min-width:80px;}

.tbl_botm + .pagenation {margin-top: 10px;}



.tbl_top {position: relative; margin-bottom: 10px;}
.tbl_top .t_total {display: inline-block; vertical-align: middle; line-height: 40px;}
.tbl_top .rgh {position: absolute; right: 0; bottom: 0;}
.tbl_top .rgh .btn-pk {min-width:80px;}



.tbl_box_sch {padding: 10px 15px; margin-bottom: 20px; border: 1px solid #e6e5e4; background-color: #f9f9f9;}
.tbl_box_sch .in {display: flex; align-items:center; justify-content: space-between; font-size: 0; margin-top: 5px;}
.tbl_box_sch .in:first-child {margin-top: 0;}
.tbl_box_sch p {display: inline-block; vertical-align: middle; /*width: 70px;*/ margin-right: 10px; font-size: 15px;}
.tbl_box_sch .col {display: flex; align-items:center; margin-left: 15px;}
.tbl_box_sch .col > * {margin-left: 5px; font-size: 14px;}
.tbl_box_sch .col:first-child {margin-left: 0;}
.tbl_box_sch.etc1 p {width: 70px;}

.tbl_box_sch .w80 {width: 80px !important;}
.tbl_box_sch .w80 > span {display: block; width: 80px;}

.tbl_box_sch .inp_txt.calender {width: 140px;}
.tbl_box_sch .inp_cal {display: inline-block; vertical-align: middle;}
.tbl_box_sch .inp_txt.wid1 {width: 250px;}
.tbl_box_sch .select1 {min-width:80px;}
.tbl_box_sch .inp_cal .ui-datepicker-trigger {position: absolute;}

.tbl_box_sch .inp_txt.calender2 {width: 140px;}
.tbl_box_sch .select1 {min-width:80px;}
.tbl_box_sch .inp_cal .ui-datepicker-trigger {position: absolute;}


.tbl_box_sch .col.sch {}
.tbl_box_sch .col.sch > p {width: 40px; white-space: nowrap;}
.tbl_box_sch .col.sch .select1 {width: 100px;}
.tbl_box_sch .col.sch .inp_txt {width: 100%;}
.tbl_box_sch .col.sch .btn-pk {width: 80px; padding-left: 0; padding-right: 0;}


.tbl_box_sch .col.c75 {width: 75%; }
.tbl_box_sch .col.c50 {width: 50%; }
.tbl_box_sch .col.c40 {width: 40%; }
.tbl_box_sch .col.c45 {width: 40%; }
.tbl_box_sch .col.c30 {width: 30%; }
.tbl_box_sch .col.c35 {width: 30%; }
.tbl_box_sch .col.c25 {width: 25%; }
.tbl_box_sch .col.c20 {width: 20%; }
.tbl_box_sch .col.c10 {width: 15%; }
.tbl_box_sch .col.c15 {width: 15%; }



.i_emp {color: #2259c8; font-weight: 700;}

.inp_btn {position: relative; padding-right: 80px;}
.inp_btn .btn-pk {position: absolute; right: 0; top: 2px; width: 70px;}


.ico_file {display: inline-block; vertical-align: middle; padding-left: 18px; background-image: url(/images/common/ico_file.png); background-repeat: no-repeat; background-position: 0 center;}




.a_line {font-size: 14px; line-height: 1.2; color: #000;}
.a_line span {display: inline-block; vertical-align: top; padding-bottom: 5px; border-bottom: 1px solid #000;}


.prd_order {display: table; table-layout:fixed; width: 100%; margin: 7px;}
.prd_order > div {display: table-cell; vertical-align: middle;}
.prd_order .im {width: 70px;}
.prd_order .tx {padding-left: 10px; font-size: 13px; line-height: 1.5; color: #666;}
.prd_order .tx p:first-child {font-weight: 700; color: #000;}
.prd_order .tx .btn-pk {line-height: 1.2; margin-top: 5px; font-size: 12px;}

.box_total {font-size: 0; margin-top: 30px; background-color: #e6e5e4; padding: 20px 0; text-align: center;}
.box_total > .col {display: inline-block; vertical-align: top; width: 33%; font-size: 14px; border-left: 1px solid #aaa;}
.box_total > .col:first-child {border-left: 0;}
.box_total > .col strong {font-size: 1.3em;}



/*
.box_check {padding: 35px 40px; margin-top: 10px; font-size: 14px; color: #000; line-height: 1.5; border: 1px solid #cfcfcf; background-color: #f7f7f7;}
.box_check p strong {display: block; margin-bottom: 4px; font-size: 1.3em; color: #a84749;}
.box_check p strong i {font-style: italic;}



.bbs_view {border-top: 2px solid #333;}
.bbs_view .tit {border-bottom: 1px solid #ddd;}
.bbs_view .tit .h1 {position: relative; padding: 20px; font-size: 18px; color: #333; background-color: #00000005; border-bottom: 1px solid #ddd;}
.bbs_view .tit .h1 .r {position: absolute; right: 20px; top: 20px; font-size: 15px;}
.bbs_view .tit .h1 .r p {display: inline-block; vertical-align: middle; margin-left: 20px; color: #666;}
.bbs_view .tit .link {padding: 20px; font-size: 15px; color: #555;}
.bbs_view .tit .link a {text-decoration: underline;}

.bbs_view .info {padding: 40px 30px; font-size: 14px; color: #666; line-height: 1.8; border-bottom: 1px solid #ddd; white-space:pre-line;}
.bbs_view .info .img {text-align: center;}

.bbs_view .botm {overflow:hidden; padding: 20px 0; border-bottom: 1px solid #ddd; font-size: 15px; }
.bbs_view .botm .lft {position: relative; float: left; text-align: left; width: 50%; border-right: 1px solid #ddd; box-sizing:border-box;}
.bbs_view .botm .rgh {position: relative; float: right; text-align: right; width: 50%;}
.bbs_view .botm span {display: block; color: #999; box-sizing:border-box; font-size: 0;}
.bbs_view .botm span:after {content:""; position: absolute; top:-3px; width: 25px; height: 25px; border: 1px solid #ddd; font-size: 10px; text-align: center; line-height: 25px; color: #333;}
.bbs_view .botm a {margin: 0 40px; display: block; overflow:hidden; white-space:nowrap; text-overflow: ellipsis;}
.bbs_view .botm .lft span {padding-right: 10px; padding-left: 35px; }
.bbs_view .botm .lft span:after {left: 0; content:"◀"; }
.bbs_view .botm .rgh span {padding-left: 10px; padding-right: 35px; }
.bbs_view .botm .rgh span:after {right: 0; content:"▶"; }
*/



/*검색*/
.area_sch {text-align: center; margin-bottom: 50px;}
.area_sch .col {display: inline-block; vertical-align: top; border-bottom: 1px solid #000;}
.area_sch .select1 {position: relative; width: 150px; height: 50px; line-height: 50px; border: 0; font-size: 18px;}
.area_sch input.inp_txt {width: 350px; height: 50px; line-height: 50px; border: 0; font-size: 18px;}
.area_sch .btn-pk.n {width: 130px; height: 50px;}



.inp_phone {font-size: 0;}
.inp_phone span {display: inline-block; vertical-align: top; width: 5%; font-size: 18px; line-height: 40px; text-align: center;}
.inp_phone .inp_txt,
.inp_phone .select1 {width: 30%;}

.inp_days {font-size: 0;}
.inp_days > * {display: inline-block; vertical-align: top;}
.inp_days > :first-child {margin-left: 0;}

.inp_addr {}
.inp_addr > .inp_txt {margin-top: 5px;}




/**/
.lst_box {}
.lst_box ul {font-size: 0; width: 102%;}
.lst_box li {position: relative; display: inline-block; vertical-align: top; width: 18%; max-width:150px; margin-right: 2%; margin-bottom: 20px;}
.lst_box li .img {position: relative; border: 1px solid #eee;}
.lst_box li .img span {display: block; height: 0; padding-bottom: 65%; background-repeat: no-repeat; background-position: center center; background-size: cover;}
.lst_box li .inp_radio {position: absolute; left: 5px; top: 5px;}
.lst_box li p {padding-top: 5px; font-size: 12px; text-align: center;}


.lst_box ul.n2 li {width: 48%;} 
.lst_box ul.n3 li {width: 31.33%;} 
.lst_box ul.n4 li {width: 23%;} 


.box_file {margin-top: 15px; border: 1px solid #e6e5e4; padding: 15px; text-align: left; font-size: 12px; color: #bebebe;}
.box_file strong {font-size: 1.2em; color: #000;}





/**/
.lst_product {}
.lst_product ul {font-size: 0; width: 102%;}
.lst_product li {display: inline-block; vertical-align: top; width: 18%; margin-right: 2%; margin-bottom: 2%; border: 1px solid #f6f6f6; box-sizing:border-box;}
.lst_product li .thumb {position: relative; height: 232px; background-color: #f6f6f6;}
.lst_product li .thumb > span {display: block; height:100%; background-position: center center; background-repeat: no-repeat; background-size: contain;}
.lst_product li .thumb .bat {position: absolute; left: 10px; top: 10px; display: table; font-size: 12px; width: 55px; height: 55px; text-align: center; color: #fff; line-height: 1; background-color: #002c34;}
.lst_product li .thumb .bat span {display: table-cell; vertical-align: middle;}
.lst_product li .thumb .bat strong {display: block; font-size: 1.35em; margin-top: 3px;}
.lst_product li .thumb .bat.ty2 {background-color: #3ea5d8;}
.lst_product li .thumb .bat.ty3 {width: calc(100% - 20px);}

.lst_product li .img_prd {border: 0; width: 100%; height: 232px;}

.img_prd .bat {position: absolute; left: 10px; top: 10px; display: table; font-size: 12px; width: 55px; height: 55px; text-align: center; color: #fff; line-height: 1; background-color: #002c34;}
.img_prd .bat span {display: table-cell; vertical-align: middle;}
.img_prd .bat strong {display: block; font-size: 1.35em; margin-top: 3px;}
.img_prd .bat.ty2 {background-color: #3ea5d8;}
.img_prd .bat.ty3 {width: calc(100% - 20px);}

.img_prd.long {width: 100%; height: 0; padding-bottom: 100%; box-sizing:border-box; margin-bottom: 10px;}

.btn_i {width: 24px; height: 24px; border-radius: 50%; text-align: center; font-weight: 700; color: #fff; font-size: 16px; background-color: #085d9d;}




.lst_product li .cont {padding: 15px 10px; min-height:70px; background-color: #fff; font-size: 14px;}
.lst_product li .cont .t2 {margin-top: 5px; color: #888;}
.lst_product li .cont .t3 {margin-top: 10px; font-size: 16px; font-weight: 700; color: #132944; text-align: right;}
.lst_product li .botm {}
.lst_product li .botm .btn-pk.blue {width: 100%; border-radius: 0; background-color: #8c8c8c; border-color: #8c8c8c;}
.lst_product li .botm .btn-pk.blue:hover {background-color: #3c3c3c; border-color: #3c3c3c;}


.lst_product2 {}
.lst_product2 ul {font-size: 0; width: 102%;}
.lst_product2 li {overflow:hidden; display: inline-block; vertical-align: top; width: 48%; margin-right: 2%; margin-bottom: 2%; border: 1px solid #e6e5e4; box-sizing:border-box;}
.lst_product2 li .img_prd {float: left; width: 42%; height: 350px; border-left: 0; border-top: 0; border-bottom: 0;}
.lst_product2 li .cont {margin-left: 42%; padding: 10px;}
.lst_product2 li .cont .inp_checkbox {margin-bottom: 10px;}
.lst_product2 li .cont .inp_checkbox input + span {font-size: 16px; color: #000;}
.lst_product2 li .cont .tbl_basic th {padding: 5px; width: 100px;}
.lst_product2 li .cont .tbl_basic td {padding: 5px;}

.tbl_btn {text-align: right; }
.tbl_btn.mb {margin-bottom: 20px;}
.tbl_btn.mt {margin-top: 20px;}



.lst_info1 {}
.lst_info1 li {position: relative; padding: 10px 10px 10px 50px; margin: 5px 0; border: 1px solid #eee; border-radius: 10px;}
.lst_info1 li:after {content:"i"; position: absolute; left: 10px; top: 50%; margin-top: -15px; width: 30px; height: 30px; line-height: 30px; font-weight: 700; font-family: serif; font-size: 22px; text-align: center; color: #999; border-radius: 50%; border: 1px solid #e1e1e1;}


.inp_num {position: relative; padding-right: 30px;}
.inp_num input {width: 100%;}
.inp_num button {position: absolute; right: 0; top: 0; width: 30px; height: 18px; font-size: 0;}
.inp_num button span {position: relative; width: 100%; height: 18px; vertical-align: top; border-top: 1px solid #e6e5e4; border-right: 1px solid #e6e5e4;}
.inp_num .bt_up span {border-bottom: 1px solid #e6e5e4;}
.inp_num .bt_up span:after {content:"▲"; position: absolute; left: 0; top: 0; width: 100%; text-align: center; font-size: 10px; color: #999; line-height: 18px;}
.inp_num .bt_down {top: 19px;}
.inp_num .bt_down span {position: relative; width: 100%; height: 18px; vertical-align: top; border-bottom: 1px solid #e6e5e4; border-right: 1px solid #e6e5e4;}
.inp_num .bt_down span:after {content:"▼"; position: absolute; left: 0; top: 0; width: 100%; text-align: center; font-size: 10px; color: #999; line-height: 18px;}


.inp_bind {display: flex; justify-content: space-between;}
.inp_bind.ai-b {align-items: end;}
.inp_bind .total p {font-weight: 700; font-size: 17px;}

.btn_q {width: 26px; height: 26px; background-color: #ccc; font-size: 0; border-radius: 50%;}
.btn_q span:before {content:"?"; font-size: 16px; font-weight: 700; color: #fff;}
.btn_q span:after {
	content:""; display: none; position: absolute; left: 50%; top: 30px; margin-left: -10px;
	width: 0px;height: 0px;
	border-top:10px solid none;
	border-bottom:10px solid #ccc;
	border-right: 10px solid transparent;
	border-left: 10px solid  transparent;
}
.box_q {display: none; position: absolute; margin-top: 15px; background-color: #ccc; color: #000; border-radius: 5px; padding: 10px 10px; font-size: 12px; line-height: 1.2; white-space:nowrap; }

.btn_q:hover span:after,
.btn_q:hover + .box_q {display: block;}

.fz-s1 {font-size: 13px;}
.box_separation {position: relative; }
.box_separation > p {padding-right: 30px;}
.box_separation .c-gray {font-size: .9em; margin-top: 5px;}
.box_separation .btn_del {position: absolute; right: 0; top: 0;}
.box_separation .b {padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid #eee;}
.box_separation .b:last-child {padding-bottom: 0; margin-bottom: 0; border-bottom: 0;}

.btn_del {width: 25px; height: 25px; border-radius: 50%; text-align: center; font-size: 0; background-color: #085d9d;}
.btn_del span:before {content:"X"; font-size: 15px; color: #fff; font-weight: 700;}


.lst_dot {}
.lst_dot li {position: relative; padding-left: 12px; }
.lst_dot li:after {content:""; position: absolute; left: 0; top: 7px; width: 3px; height: 3px; background-color: #777; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%;}


.lst_chk {}
.lst_chk label {margin-right: 20px;}


.cl-b {clear: both;}



.box_drop {z-index: 1; position: relative; display: inline-block; vertical-align: top;}
.box_drop .list {display: none; position: absolute; margin-top: 3px; padding: 10px; border: 1px solid #085d9d; background-color: #fff; border-radius: 5px; white-space:nowrap;}
.box_drop .list li a {font-size: 13px; display: block; padding: 5px 0;}
.box_drop .list li:hover a {background-color: #f9f9f9; color: #085d9d;}







/*
.lst_dot {}
.lst_dot li {position: relative; padding-left: 20px; font-size: 16px; color: #666;}
.lst_dot li:after {content:""; position: absolute; left: 0; top: 9px; width: 5px; height: 5px; background-color: #777; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%;}


.fz_b1 {text-align: center; margin-bottom: 30px; color: #333; font-size: 20px; color: #000;}


질문과답
.area_qna {position: relative; margin-top: 40px; border-top: 1px solid #eee;}
.area_qna .menu {float: left; width: 180px;}
.area_qna .menu li {border-bottom: 1px solid #eee; }
.area_qna .menu li a {display: block; padding: 15px; color: #000;}
.area_qna .menu li.on a {color: rgb(34, 89, 200);}
.area_qna .cont {margin-left: 220px; padding: 40px; min-height: 250px; background-color: #00000005;}
.area_qna .cont .h1 {margin-bottom: 10px; font-weight: 600; font-size: 18px; color: #000;}
.area_qna .cont .t1 {margin-bottom: 20px;}
.area_qna .cont .t1:last-child {margin-bottom: 0;}
.area_qna .cont .t1.ty2 a {min-height: 72px;}
.area_qna .cont ul {font-size: 0; width: 103%;}
.area_qna .cont li {display: inline-block; vertical-align: top; width: 22%; margin-right: 3%; font-size: 16px; margin-bottom: 20px;}
.area_qna .cont li a {display: block; padding: 20px; background-color: #fff; border: 1px solid #ddd; word-break: break-all;}
.area_qna .cont .txt {margin-bottom: 40px; white-space:pre-line; line-height: 1.8;}
.area_qna .cont .botm {overflow:hidden; padding: 25px 0; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; margin-bottom: 40px;}
.area_qna .cont .botm a {position: relative; float: left; width: 50%; padding: 0 35px; font-size: 14px; display: block; box-sizing:border-box; overflow:hidden; white-space:nowrap; text-overflow: ellipsis; box-sizing:border-box;}
.area_qna .cont .botm a em {display: block; color: #2259c8;}
.area_qna .cont .botm a.lft {text-align: left; border-right: 1px solid #ddd;}
.area_qna .cont .botm a.rgh {text-align: right;}

.area_qna .cont .botm a:after {content:""; position: absolute; left: 0; top: 50%; margin-top: -10px; width: 13px; height: 19px; background: url(/images/common/ico_arrow1.jpg) 0 0 no-repeat;}
.area_qna .cont .botm a.rgh:after {left: auto; right: 0; transform:rotate(180deg);}


.box_line {padding: 30px 30px 0; margin-bottom: 40px; border-top: 1px solid #333; border-left: 1px solid #ddd; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd;}
.box_line ul {font-size: 0; width: 102%;}
.box_line li {position: relative; display: inline-block; vertical-align: top; width: 23%; margin-right: 2%; padding-bottom: 30px; margin-bottom: 20px;}
.box_line li:nth-child(4n):after {content:""; position: absolute; right: 0; bottom: 0; width: 426%; height: 1px; background-color: #ddd;}
.box_line li p {font-size: 15px; margin-bottom: 5px; color: #000;}
.box_line li.long {width: 48%;}

.box_line .b {position: relative; background-color: #f7f7f7; padding: 30px; margin-bottom: 30px;}
.box_line .b li {width: 18%; padding-bottom: 0; margin-bottom: 0;}
.box_line .b li.long {width: 48%;}
.box_line .b li:after {content:none;}
.box_line .b.line {margin-bottom: 60px;}
.box_line .b.line:after {content:""; position: absolute; left: 0; bottom: -30px; width: 100%; height: 1px; background-color: #ddd;}

.box_line .b .btn-pk {position: absolute; right: 30px; top: 20px;}

.box_line .btns {text-align: right; padding-bottom: 25px; margin-bottom: 30px; border-bottom: 1px solid #ddd;}
.box_line .btns .btn-pk.n {width: 150px;}



.inp_bt {position: relative; padding-right: 50px;}
.inp_bt .btn-pk {position: absolute; right: 0; top: 0; width: 50px; height: 40px; padding: 0; min-width:auto;}



.box_terms {overflow-y:auto; height: 100px; padding: 20px; font-size: 13px; color: #666; border: 1px solid #00000036; background-color: #2259C80F; white-space:pre-line;}
.tbl_terms td,
.tbl_terms th {border: 1px solid #0000001f; text-align: center; font-size: 14px; height: 40px;}
.tbl_terms th {background-color: #e3e3e3;}



.fix_menu {position: fixed; right: 0; top: 50%; width: 180px; padding: 20px; transform:translateY(-50%); box-shadow:0 0 5px rgba(0,0,0,.3); background-color: #fff;} 
.fix_menu .h_tit2 {text-align: center; font-weight: 700;}
.fix_menu .btn-pk {margin-top: 10px; min-width:auto;}



.area_terms {white-space:pre-line; font-size: 15px; line-height: 1.6;}

*/

/******************************************************************************************/
