@charset "utf-8";

/* 1: 초기화
=========================================================================================== */
* {-webkit-text-size-adjust:none;/*가로전환시 폰트 사이즈 변환 방지*/ -webkit-tap-highlight-color: rgba(0,0,0,0);}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, input,
blockquote, pre, abbr, address, cite, code, del, dfn, em, img,
ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header, hgroup,
menu, nav, section, summary, time, mark, audio, video, button {
	margin:0; padding:0; 
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
h1,h2,h3,h4,h5 {font-weight:normal;}

li {list-style-type:none;}
img, fieldset, iframe {border:0;}

table {width:100%; border-collapse:collapse; border-spacing:0; text-align:inherit;}
caption {display:none;}
th, td {vertical-align:middle;}

legend {color:#000;}
img {max-width:100%; vertical-align:middle;}

li img, dd img {vertical-align:middle;}
input, select {vertical-align:middle;}
abbr, acronym {border-bottom:1px dotted; cursor:help;}

sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}
i, em, address {font-style:normal;}

a {color:inherit; text-decoration:none;}
@media(min-width:768px) {/*PC에선 전화안되게*/
	a[href^="tel"]:link,
	a[href^="tel"]:visited, 
	a[href^="tel"]:hover {
		pointer-events: none;
		cursor: default;
	}
}



/* 인풋박스 스타일 */
input[type='text'],
input[type='password'],
input[type='number'],  
input[type='search'], 
input[type='submit'],
textarea,
select,
button {
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	font-family:'Noto Sans KR', 'New Gulim', 'Gulim', Gulim, sans-serif;
	vertical-align:middle; line-height:normal;
	font-size: 15px;
	padding:0; border:0; box-shadow:none;
	 -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;
	-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;
}
input[type='text'],
input[type='password'],
input[type='number'],  
input[type='search'], 
input[type='submit'],
select,
textarea {	
	padding: 10px;
	border: 1px solid #e6e5e4;
}

textarea {
	overflow-y:auto;
	resize:none; 
}

button {
	font-size:100%; cursor:pointer;
	background:none;
	transition:all .3s ease; -webkit-transition:all .3s ease; -moz-transition:all .3s ease; -o-transition:all .3s ease;
}
button span {position:relative; display: inline-block; vertical-align: baseline;}


/*input 자동 채워지는 배경 색상 변경*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: none;
  transition: background-color 9999s ease-in-out 0s;
}

/*input placeholder 색상*/
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
::-ms-input-placeholder,
:-moz-placeholder,
::placeholder {color:#c9c8c6;}


input::-webkit-input-placeholder {color:#c9c8c6;}
input:-moz-placeholder {color:#c9c8c6;}
input::-moz-placeholder {color:#c9c8c6;}
input:-ms-input-placeholder {color:#c9c8c6;}
textarea::-webkit-input-placeholder {color:#c9c8c6;}
textarea:-moz-placeholder {color:#c9c8c6;}
textarea::-moz-placeholder {color:#c9c8c6;}
textarea:-ms-input-placeholder {color:#c9c8c6;}

/*
input::-moz-selection {color:#fff; background-color: #dc3c64;}
input::selection {color:#fff; background-color: #dc3c64;}

::-moz-selection {color:#fff; background-color: #dc3c64;}
::selection {color:#fff; background-color: #dc3c64;}
*/


/*number 화살표 없애기*/
input[type="number"]::-ms-clear {display:none;}
input[type="number"], input[type="number"]:hover, input[type="number"]:focus {-moz-appearance: textfield; -webkit-appearance: textfield; appearance: textfield;}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button,
input[type='number']:hover::-webkit-inner-spin-button, 
input[type='number']:hover::-webkit-outer-spin-button {-webkit-appearance: none; margin:0;}

input[type="tel"]::-ms-clear {display:none;}
input[type="tel"]::-webkit-outer-spin-button,
input[type="tel"]::-webkit-inner-spin-button,
input[type='tel']:hover::-webkit-inner-spin-button,
input[type='tel']:hover::-webkit-outer-spin-button {-webkit-appearance: none; margin:0;}



/*input style 선언*/
.textarea1 {width:100%; min-height:100px;  line-height:1.5; }
.textarea1 textarea {width:100%; height:200px; border:0; background:none; }


/*file design*/
/*
.filebox {position:relative; padding-right: 105px; }
.filebox > input[type="file"] {
	position: absolute;
	width: 1px;	height: 1px;
	padding: 0;	margin: -1px;
	overflow: hidden;
	clip:rect(0,0,0,0);
	border: 0;
}

.filebox > label {
	position: absolute; right: 0; top: 0; width: 100px; height: 40px;
	font-size: 14px; line-height: 38px;
	background-color: #085d9d; text-align: center; color: #fff;
	-webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;
	cursor: pointer;
}
.filebox > .upload-name {
	display: inline-block;
	width:100%;
	font-size:14px;
	font-family: inherit;
	line-height: normal;
	vertical-align: middle;
	box-sizing:border-box;
}*/

.filebox {position:relative;}
.filebox > input[type="file"] {
	position: absolute;
	width: 1px;	height: 1px;
	padding: 0;	margin: -1px;
	overflow: hidden;
	clip:rect(0,0,0,0);
	border: 0;
}

.filebox > label {
	display: inline-block; width: 100px; height: 40px;
	font-size: 14px; line-height: 38px;
	background-color: #085d9d; text-align: center; color: #fff;
	-webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;
	cursor: pointer;
}
.filebox > .upload-name {
	border: 0; width: auto;
	font-size:14px;
	font-family: inherit;
	line-height: normal;
	vertical-align: middle;
	box-sizing:border-box;
}
.btn_file_del {vertical-align: middle; margin-left: 5px; position: relative; width: 20px; height: 20px; font-size: 0; background-color: #eee; border-radius: 50%;}
.btn_file_del span {width: 16px;}
.btn_file_del span:after {content:""; position: absolute; left: 0; top: 0;  width: 16px; height: 1px; background-color: #000; transform:rotate(45deg);}
.btn_file_del span:before {content:""; position: absolute; left: 0; top: 0;  width: 16px; height: 1px; background-color: #000; transform:rotate(-45deg);}


.filebox_txt {display: inline-block; vertical-align: middle; border: 1px solid #eee; padding: 5px 5px 5px 10px; border-radius: 50px; display: none; }



/*radio design*/
.inp_radio {z-index:0; position: relative; display: inline-block; line-height: 1; min-height: 18px; vertical-align: middle;}
.inp_radio input {position: absolute; visibility:hidden; display: block \0/IE8;}
.inp_radio input + span {
	position:relative;
	display:inline-block;  
	padding-left: 25px;  
	font-size: 14px; line-height:20px; 
	cursor:pointer; vertical-align:top;
}
.inp_radio input + span::after,
.inp_radio input + span:after {
	content:"";
	width:17px; height:17px;
	position:absolute; left:0; top:0;
	border: 1px solid #ddd; background-color: #fff;
	-webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%;
}
.inp_radio input:checked + span::before,
.inp_radio input:checked + span:before {
    content:"";
	z-index: 1;
	position:absolute; left:4px; top:4px; 
	width:11px; height:11px; background-color: #2259c8;
	-webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%;
}

.inp_radio input + span ~ .inp_txt,
.inp_radio input + span ~ .select1 {margin-left: 5px; visibility: visible; position: static; vertical-align: middle;  pointer-events: none; background-color: #f9f9f9;}
.inp_radio input:checked + span ~ .inp_txt,
.inp_radio input:checked + span ~ .select1 {pointer-events: auto; background-color: #fff;}


.inp_radio input:disabled + span::after,
.inp_radio input:disabled + span:after {background-color: #eee;}
.inp_radio input:checked:disabled + span::after,
.inp_radio input:checked:disabled + span:after {background-color: #eee; border-color: #cbcbcb;}
.inp_radio input:checked:disabled + span::before,
.inp_radio input:checked:disabled + span:before {background-color: #aaa;}


/*checkbox design*/
.inp_checkbox {z-index:0; position: relative; display: inline-block; line-height: 1; vertical-align: middle; font-size: 0;}
.inp_checkbox input {position: absolute; visibility:hidden; display: block \0/IE8;}
.inp_checkbox input + span {
	position:relative;
	display:inline-block;  
	padding-left:30px;  
	font-size: 15px; min-height:20px; line-height:20px; 
	cursor:pointer; vertical-align:top;
}
.inp_checkbox input + span::after,
.inp_checkbox input + span:after {
	content:"";
	width:17px; height:17px;
	position:absolute; left:0; top:0;
	background-color: #fff;
	border: 1px solid #cbcbcb;
}
.inp_checkbox input:checked + span:after {
	background-color: #2259c8;
	border-color: #2259c8;
}
.inp_checkbox input:checked + span::before,
.inp_checkbox input:checked + span:before {
    content:"";
	z-index: 1; color: #fff;
	position:absolute; left:0; top:0; text-align: center; width:20px; height:20px;
	background-image: url('../images/common/ico_check.png'); background-size: 11px auto;
	background-repeat: no-repeat; background-position: center center;
}

.inp_checkbox input + span ~ .inp_txt,
.inp_checkbox input + span ~ .select1 {margin-left: 5px; visibility: visible; position: static; vertical-align: middle;  pointer-events: none; background-color: #f9f9f9;}
.inp_checkbox input:checked + span ~ .inp_txt,
.inp_checkbox input:checked + span ~ .select1 {pointer-events: auto; background-color: #fff;}

.inp_checkbox input:disabled + span::after,
.inp_checkbox input:disabled + span:after {background-color: #eee;}
.inp_checkbox input:checked:disabled + span::after,
.inp_checkbox input:checked:disabled + span:after {background-color: #eee; border-color: #cbcbcb;}


.inp_checkbox span.d {padding-left: 20px;}



/*셀렉트 디자인*/
select.select1 {
	padding-right:25px; padding-right: 5px \0/IE8+9; 
	padding-top: 0; padding-bottom: 0;
	height: 40px; line-height: 38px;
	font-family:inherit; color:#333;
	background-color: #fff;
	background-image: url('/images/common/ico_select.png');
	background-repeat: no-repeat;
	background-position: 100% center;
	background-color: #fff \0/IE8+9;
	background-size: 17px auto;
}
select.select1::-ms-expand {display: none;}
select.select1 option {line-height:1.5; border:0;}


/*input text design*/
div.inp_txt {/*border: 1px solid #e5e5e5;*/ padding-left: 10px;}
input.inp_txt {height: 40px; line-height: 38px; padding-top: 0; padding-bottom: 0; background-color: #fff;}
.inp_txt.w10p {width:10%;}
.inp_txt.w15p {width:15%;}
.inp_txt.w30p {width:30%;}
.inp_txt.w40p {width:40%;}
.inp_txt.w50p {width:50%;}
.inp_txt.w51p {width:51.5%;}
.inp_txt.w60p {width:60%;}
.inp_txt.w70p {width:70%;}
.inp_txt.w80p {width:80%;}
.inp_txt.w90p {width:90%;}
.inp_txt.w100p {width:100%;}

select.w10p {width:10%;}
select.w15p {width:15%;}
select.w30p {width:30%;}
select.w40p {width:40%;}
select.w50p {width:50%;}
select.w51p {width:51.5%;}
select.w60p {width:60%;}
select.w70p {width:70%;}
select.w80p {width:80%;}
select.w90p {width:90%;}
select.w100p {width:100%;}


.w100p {width:100%;}
.w80p {width:80%;}

.w100 {width: 100px;}



input.inp_txt {border-color: #e6e5e4; border-width: 1px;}
input.inp_txt:disabled {background-color: #eee;}
textarea:disabled {background-color: #eee;}
select:disabled {background-color: #eee;}

input.inp_txt:focus {border-color: #222; background-color: #fff;}
select.select1:focus {border-color: #222; background-color: #fff;}
textarea:focus {border-color: #222; background-color: #fff;}



/*달력*/
.ui-datepicker {
	display:none;
	padding:10px; margin-top: 0;
	border:1px solid #cfcfcf; 
	background-color:#fff;
	text-align:center; font-weight:500; font-size:14px; color:#999;
}
.ui-datepicker th {width:28px; height:26px; font-weight:300; color:#333; text-align:center;}
.ui-datepicker td {width:28px; height:26px; font-weight:300;}
.ui-datepicker td.ui-datepicker-unselectable {color:#eee;}
.ui-datepicker td a.ui-state-highlight{font-weight:700; color: #000;}
.ui-datepicker td a.ui-state-active {color:#0078fa; font-weight:700;}

.ui-datepicker-header {position:relative; margin-bottom:10px; background-color: #fff;}
.ui-datepicker-title {overflow:hidden; font-size:0;}
.ui-datepicker-title span {font-weight:700; font-size:16px; line-height:30px; color:#378bca;}
.ui-datepicker-prev,
.ui-datepicker-next {position:absolute; top:0; text-indent:-9999px; width:30px; height:30px; background-color: #6baee0; border-radius: 50%; background-repeat:no-repeat; background-position:center center; cursor:pointer; background-size: 5px auto;}
.ui-datepicker-prev {left:0; background-image:url('../images/common/ico_calendar_prev.png');}
.ui-datepicker-next {right:0; background-image:url('../images/common/ico_calendar_next.png');}
.ui-datepicker-title select {position: relative; padding: 0; border: 0; line-height: 30px; padding-right: 15px; color: #378bca; background: url('/images/common/ico_select.png') 100% center no-repeat; background-size: 10px auto;}
.ui-datepicker-title select:first-child {margin-right: 5px;}
.ui-datepicker-title select option {padding: 0 5px; color: #000;}

.ui-datepicker-trigger {width: 26px; margin-left:-35px; margin-top:9px; vertical-align: top; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;}
.ui-datepicker-trigger img {vertical-align: top; height: 21px;}

.ui-monthpicker-trigger {height: 21px; margin-left:-35px; margin-top:9px; vertical-align: top; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;}
.ui-monthpicker td {width: 70px;}




/*paging*/
.pagenation {position:relative; margin-top: 30px;}
.pagenation ul {text-align:center;}
.pagenation li {
	display:inline-block;
	text-align:center;
	vertical-align:middle;
	font-size:14px; line-height:normal;
}
.pagenation li a {
	display:block; padding: 4px; text-align: center;
	line-height:normal; color:#000; 
}
.pagenation li.on strong,
.pagenation li.on a {display: block; color: #085d9d;}

.pagenation li.prev {margin-right: 5px;}
.pagenation li.next {margin-left: 5px;}





/*간격*/
.p0{padding:0!important}.p10{padding:10px!important}.p20{padding:20px!important}.p30{padding:30px!important}.p40{padding:40px!important}.p50{padding:50px!important}.pt0{padding-top:0!important}.pt1{padding-top:2px!important}.pt2{padding-top:2px!important}.pt3{padding-top:3px!important}.pt4{padding-top:4px!important}.pt5{padding-top:5px!important}.pt10{padding-top:10px!important}.pt15{padding-top:15px!important}.pt20{padding-top:20px!important}.pt25{padding-top:25px!important}.pt30{padding-top:30px!important}.pt35{padding-top:35px!important}.pt40{padding-top:40px!important}.pt50{padding-top:50px!important}.pt55{padding-top:55px!important}.pt60{padding-top:60px!important}.pt65{padding-top:65px!important}.pt70{padding-top:70px!important}.pt75{padding-top:75px!important}.pt80{padding-top:80px!important}.pt85{padding-top:85px!important}.pt90{padding-top:90px!important}.pt95{padding-top:95px!important}.pb0{padding-bottom:0!important}.pb5{padding-bottom:5px!important}.pb10{padding-bottom:10px!important}.pb15{padding-bottom:15px!important}.pb20{padding-bottom:20px!important}.pb25{padding-bottom:25px!important}.pb30{padding-bottom:30px!important}.pb35{padding-bottom:35px!important}.pb40{padding-bottom:40px!important}.pb50{padding-bottom:50px!important}.pb55{padding-bottom:55px!important}.pb60{padding-bottom:60px!important}.pb65{padding-bottom:65px!important}.pb70{padding-bottom:70px!important}.pb75{padding-bottom:75px!important}.pb80{padding-bottom:80px!important}.pb85{padding-bottom:85px!important}.pb90{padding-bottom:90px!important}.pb95{padding-bottom:95px!important}.pl0{padding-left:0!important}.pl5{padding-left:5px!important}.pl10{padding-left:10px!important}.pl15{padding-left:15px!important}.pl20{padding-left:20px!important}.pl25{padding-left:25px!important}.pl30{padding-left:30px!important}.pl35{padding-left:35px!important}.pl40{padding-left:40px!important}.pl45{padding-left:45px!important}.pl50{padding-left:50px!important}.pl55{padding-left:55px!important}.pl60{padding-left:60px!important}.pl65{padding-left:65px!important}.pl70{padding-left:70px!important}.pl75{padding-left:75px!important}.pl80{padding-left:80px!important}.pl85{padding-left:85px!important}.pl90{padding-left:90px!important}.pl95{padding-left:95px!important}.pr0{padding-right:0!important}.pr5{padding-right:5px!important}.pr10{padding-right:10px!important}.pr15{padding-right:15px!important}.pr20{padding-right:20px!important}.pr25{padding-right:25px!important}.pr30{padding-right:30px!important}.pr35{padding-right:35px!important}.pr40{padding-right:40px!important}.pr50{padding-right:50px!important}.pr55{padding-right:55px!important}.pr60{padding-right:60px!important}.pr65{padding-right:65px!important}.pr70{padding-right:70px!important}.pr75{padding-right:75px!important}.pr80{padding-right:80px!important}.mt-1{margin-top:-1px!important}.m0{margin:0!important}.m10{margin:10px!important}.m15{margin:15px!important}.m20{margin:20px!important}.m30{margin:30px!important}.m40{margin:40px}.m50{margin:50px}.mt0{margin-top:0!important}.mt5{margin-top:5px!important}.mt10{margin-top:10px!important}.mt15{margin-top:15px!important}.mt20{margin-top:20px!important}.mt25{margin-top:25px!important}.mt30{margin-top:30px!important}.mt35{margin-top:35px!important}.mt40{margin-top:40px!important}.mt50{margin-top:50px!important}.mt55{margin-top:55px!important}.mt60{margin-top:60px!important}.mt65{margin-top:65px!important}.mt70{margin-top:70px!important}.mt75{margin-top:75px!important}.mt80{margin-top:80px!important}.mt85{margin-top:85px!important}.mt90{margin-top:90px!important}.mt95{margin-top:95px!important}.mb0{margin-bottom:0!important}.mb5{margin-bottom:5px!important}.mb10{margin-bottom:10px!important}.mb15{margin-bottom:15px!important}.mb20{margin-bottom:20px!important}.mb25{margin-bottom:25px!important}.mb30{margin-bottom:30px!important}.mb35{margin-bottom:35px!important}.mb40{margin-bottom:40px!important}.mb50{margin-bottom:50px!important}.mb55{margin-bottom:55px!important}.mb60{margin-bottom:60px!important}.mb65{margin-bottom:65px!important}.mb70{margin-bottom:70px!important}.mb75{margin-bottom:75px!important}.mb80{margin-bottom:80px!important}.mb85{margin-bottom:85px!important}.mb90{margin-bottom:90px!important}.mb95{margin-bottom:95px!important}.ml0{margin-left:0!important}.ml5{margin-left:5px!important}.ml10{margin-left:10px!important}.ml15{margin-left:15px!important}.ml20{margin-left:20px!important}.ml25{margin-left:25px!important}.ml30{margin-left:30px!important}.ml35{margin-left:35px!important}.ml40{margin-left:40px!important}.ml50{margin-left:50px!important}.ml55{margin-left:55px!important}.ml60{margin-left:60px!important}.ml65{margin-left:65px!important}.ml70{margin-left:70px!important}.ml75{margin-left:75px!important}.ml80{margin-left:80px!important}.ml85{margin-left:85px!important}.ml90{margin-left:90px!important}.ml95{margin-left:95px!important}.mr0{margin-right:0!important}.mr5{margin-right:5px!important}.mr10{margin-right:10px!important}.mr15{margin-right:15px!important}.mr20{margin-right:20px!important}.mr25{margin-right:25px!important}.mr30{margin-right:30px!important}.mr35{margin-right:35px!important}.mr40{margin-right:40px!important}.mr50{margin-right:50px!important}.mr55{margin-right:55px!important}.mr60{margin-right:60px!important}.mr65{margin-right:65px!important}.mr70{margin-right:70px!important}.mr75{margin-right:75px!important}.mr80{margin-right:80px!important}




/*로딩*/
.loadingbar {z-index: 9999; display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; text-align: center; background-color: rgba(0,0,0,.2);}
.loadingbar span {position: absolute; left: 50%; top: 50%; width: 280px; margin-left: -140px; margin-top: -140px;}


/*스킵네비*/
#skipNaviWrap {position: relative; z-index: 9999;}
#skipNaviWrap a {position: absolute; left: 0; top: -100px; width: 100%; padding: 20px 0; font-size: 1.2em; color: #000; text-align: center; background-color: #6dc0b3;}
#skipNaviWrap a:focus, #skipNaviWrap a:active {top: 0;}