@charset "utf-8";


/*팝업*/
.layerPopup {display: none; position: fixed; left: 50%; top: 50%; z-index: 1001; border: 1px solid #e2e2e1;}

/*.layerPopup .popup {display: inline-block; *display: inline; *zoom: 1; width: 570px; background-color: #fff; border: 1px solid #e2e2e1; position: relative; text-align: left;}
.layerPopup .p_head {position: relative; border-bottom: 1px solid #e2e2e1;}
.layerPopup .p_head .tit {padding-left: 20px; font-size: 18px; color: #000; font-weight: 700; line-height: 49px;}
.layerPopup .p_cont {overflow-y:auto; padding: 30px; max-height:700px; font-size: 13px; color: #333; line-height: 1.6;}
.layerPopup .p_botm {text-align: center; padding: 15px 0; border-top: 1px solid #e2e2e1;}
.layerPopup .p_botm .btn-pk.n {width: 110px;}
.layerPopup .popup .btn_close {position: absolute; right: 0; top: 0; width: 50px; height: 50px; font-size: 0; text-align: center; background-color: #2259c8;}
.layerPopup .popup .btn_close > span {display: inline-block; vertical-align: top; font-size: 0; width: 20px; height: 1px; background-color: #fff; transform:rotate(45deg);}
.layerPopup .popup .btn_close > span:after {content:""; position: absolute; left: 0; top: 0; width: 20px; height: 1px; background-color: #fff; transform:rotate(90deg);}
.layerPopup .popup .fz1 {font-size: 13px; line-height: 1.4;}
.layerPopup .popup .btn-bot {margin-top: 20px;}
*/
.popup {width: 100%; height: 100%; height: 100vh; background-color: #fff; position: relative; text-align: left;}
.p_head {position: relative; border-bottom: 1px solid #e2e2e1;}
.p_head .tit {padding-left: 20px; font-size: 18px; color: #000; font-weight: 700; line-height: 49px;}
.p_cont {overflow-y:auto; padding: 30px; height: calc(100% - 110px); font-size: 13px; color: #333; line-height: 1.6;}
.p_botm {text-align: center; margin-top: 30px;}
.p_botm .btn-pk.n {width: 110px;}
.popup .btn_close {position: absolute; right: 0; top: 0; width: 50px; height: 50px; font-size: 0; text-align: center; background-color: #2259c8;}
.popup .btn_close > span {display: inline-block; vertical-align: top; font-size: 0; width: 20px; height: 1px; background-color: #fff; transform:rotate(45deg);}
.popup .btn_close > span:after {content:""; position: absolute; left: 0; top: 0; width: 20px; height: 1px; background-color: #fff; transform:rotate(90deg);}
.popup .fz1 {font-size: 13px; line-height: 1.4;}
.popup .btn-bot {margin-top: 20px;}




.popup_dim {position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,.3); z-index: 1000;}



/*토스트*/
.toast_msg {
  z-index: 9999;  position: fixed; left: 50%; top: 50%; transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8); max-width: 900px; padding: 15px 30px;
  color: #fff; font-weight: 100; font-size: 15px; line-height: 1.2;
  border-radius: 5px;
}

.toast_msg.ty1 {background-color: rgba(84,130,53,.8);}
.toast_msg.ty2 {background-color: rgba(255,0,0,.8);}
.toast_msg.ty3 {background-color: rgba(146,208,80,.8);}





/*alert팝업*/
.popup_alert {display: none;}
.popup_alert .popup {
	z-index: 1001; overflow:hidden; 
	position: fixed; left: 50%; top: 50%; 
	min-width:300px; max-width:400px; margin-top: 0;
	text-align: center; font-size: 15px; line-height: 1.5; 
	background-color: #fff; 
	transform:translate(-50%,-50%);
}
.popup_alert .popup .txt {padding: 35px 20px; border: 1px solid #dedede; border-bottom: 0;}
.popup_alert .popup .txt .h1 {margin-bottom: 20px; font-weight: 700; font-size: 18px; color: #463c5a;}
.popup_alert .popup .btns {display: table; width: 100%; table-layout:fixed; background-color: #5a5a5a;}
.popup_alert .popup .btns a {display: table-cell; vertical-align: top; line-height: 30px;}
.popup_alert .popup .btns .btn-pk {border-radius: 0;}




/*환자등록*/
.pop_register {}

.pop_register .inp_days,
.pop_register .inp_phone {margin-right: 90px;}

.pop_register .pos-r {position: relative;}
.pop_register .pos-r .btn-pk {position: absolute; right: 0; top: 0; width: 80px;}


/*마킹유형선택*/
.pop_marking .popup {width: 750px;} 


/*파우치선택*/
.pop_pouch {}
.pop_pouch .popup {width: 700px;}



/*조제지시 불러오기*/
.pop_medicine {}
.pop_medicine .popup {width: 700px;}



/*처방내역 확인*/
.pop_search1{}
.pop_search1 .popup {width: 1160px;}
.pop_search1 .p_cont {font-size: 0; max-height:750px;}
.pop_search1 .area_bind {}
.pop_search1 .bind {display: inline-block; vertical-align: top; width: 530px; padding-left: 20px;}
.pop_search1 .bind:nth-child(2n-1) {padding-left: 0;}
.pop_search1 .bind:last-child {margin-top: 40px;}
.pop_search1 .scrollY {overflow-y:auto; max-height:326px;}
.pop_search1 .tbl_basic table.list.small td {height: 18px;}




/*환자 정보*/
.pop_patient1{}
.pop_patient1 .popup {width: 500px;}


/*배송 정보*/
.pop_delivery1{}
.pop_delivery1 .popup {width: 600px;}



/**/
.pop_infor {}
.pop_infor .popup {width: 550px;}
.pop_infor ul {}
.pop_infor li {margin-bottom: 20px; position: relative; padding-left: 18px;}
.pop_infor li span.num {position: absolute; left: 0; font-weight: 700; font-size: 17px; margin-top: -1px;}
.pop_infor li p {font-weight: 700; font-size: 15px;}
.pop_infor .txt {font-size: 14px;}
.pop_infor .txt > p {margin-bottom: 10px; font-size: 17px; font-weight: 700;}




/*주수상반*/
.pop_alcohol {}
.pop_alcohol .bind {overflow:hidden;}
.pop_alcohol .bind > div {overflow-y:auto; width: 48%; box-sizing:border-box;}
.pop_alcohol .bind > div p {text-align: center; margin-bottom: 5px; font-weight: 700; font-size: 13px; color: #000;}
.pop_alcohol .bind > div.lft {float: left;}
.pop_alcohol .bind > div.rgh {float: right;}
.pop_alcohol .bind > div ul {height: 300px; padding: 10px; border: 1px solid #e2e2e1;}
.pop_alcohol .bind > div li {padding: 5px 0; cursor:pointer;}
.pop_alcohol .bind > div li:hover {background-color: #f9f9f9;}



/*사건처방 추가*/
.pop_eventadd {}
.pop_eventadd .popup {width: 800px;}



/*분리배송*/
.pop_separation {}
.pop_separation .popup {width: 800px;}